{% extends 'todo/base.html' %}
{% block content %}

<h2>Your Lists</h2>

{% for list in object_list %}
<div class="card">
    <div class="title">{{ list.name }}</div>

    <div class="button-group">
        <a class="btn btn-outline" href="{% url 'task-list' list.id %}">
            View
        </a>

        <a class="btn btn-primary" href="{% url 'list-update' list.id %}">
            Edit
        </a>
    </div>
</div>
{% endfor %}

<a class="btn btn-primary" href="{% url 'list-create' %}">
    + Create New List
</a>

{% endblock %}
