{% extends 'todo/base.html' %}

{% block content %}

<h2>📝 Tasks</h2>

<ul>
{% for task in object_list %}
    <li>
    <span class="{% if task.completed %}completed{% endif %}">
        {{ task.title }}
    </span>

    <div>
        <a class="btn" style="background:red;"
           href="{% url 'task-delete' task.id %}">
            Delete
        </a>
    </div>
</li>

{% empty %}
    <p>No tasks in this category.</p>
{% endfor %}
</ul>

<a class="btn" href="{% url 'task-create' view.kwargs.list_id %}">
    ➕ Add Task
</a>

<a class="btn" href="{% url 'list-list' %}">
    ⬅ Back
</a>


{% endblock %}
