{% extends 'todo/base.html' %}
{% block content %}

<h2>Tasks</h2>

{% for task in object_list %}
<div class="card">
    <div class="title {% if task.completed %}completed{% endif %}">
        {{ task.title }}
    </div>

    <div class="button-group">
        <a class="btn btn-outline" href="{% url 'task-update' task.id %}">
            Edit
        </a>
    </div>
</div>
{% endfor %}

<a class="btn btn-primary" href="{% url 'task-create' view.kwargs.list_id %}">
    + Add Task
</a>

{% endblock %}
